@import url('https://fonts.googleapis.com/css2?family=Lora&family=Qwitcher+Grypen&display=swapay=swap');
@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen&display=swap');

#background {
    color:pink;
    background-image: linear-gradient(rgba(255, 255, 255, 0.505), rgba(255, 255, 255, 0.030)), url('https://i.ytimg.com/vi/YEQ6SGAD940/maxresdefault.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
  }

body, html{
  font-family: 'Lora', serif;
}

#letter {
  font-family: 'Qwitcher Grypen', cursive;
}

.envelope{
    height: 75%;
    width: 25%;
    margin-bottom: 50px;
}